@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="@Url.Content("~/js/Components/SkillCalculator.jsx")"></script>
    <script src="@Url.Content("~/js/SkillCalculator/Index.jsx")"></script>
}

<div id="SkillCalculator">

</div>