@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="@Url.Content("~/js/ItemTable.jsx")"></script>
    <script src="@Url.Content("~/js/CountdownLabel.jsx")"></script>
    <script src="@Url.Content("~/js/Home/Index.jsx")"></script>
}

<div id="CountdownContainer" class="float-right">

</div>

<div id="MarginTableContainer">

</div>